@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .menuList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  .menuTitle{
    font-size: 4em;
    color: red;
    font-family: 'Balsamiq Sans', cursive;
    margin-bottom: 100px;
  }