@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

img{
    width: 100px;
    height: 80px;
    object-fit: contain;
    margin-top: 4px;
}

.navbar{
    width: 100vw;
    height: 80px;
    background-color: black;
    display: flex;
}

.navbar .leftSide{
    display: flex;
    flex:50%;
    justify-content: left;
    align-items: center;
    padding-left: 30px;

}
.navbar .rightSide{
    display: flex;
    flex:50%;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
}

 .rightSide a{
    text-decoration: none;
    color:white;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    margin-left: 10px;
    transition: 0.3s ease-in;
}

.rightSide a:hover{
    color : rgba(236, 12, 4, 1);
}


@media only screen and (max-width: 442px) {
    .rightSide a{
        font-size: 20px;

    }

    img{
        width: 50px;
        height: 80px;
        object-fit: contain;
        margin-top: 4px;
    }
}